
		<!--Topbar-->
		<div class="header-main">  
        <!-- Mobile Header -->
        <div class="horizontal-header top-bar ">
          <div class="container">
            <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            <span class="smllogo"><img src="../assets/images/brand/logo1.png" width="120" alt=""/></span>
            <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
          </div>
        </div>
        <!-- Mobile Header -->
  
        <div class="horizontal-main clearfix border-bottom top-bar">
          <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo">
              <a href="index.html"><img src="../assets/images/brand/logo1.png" alt=""></a>
            </div>
            <!--Nav-->
            <nav class="horizontalMenu clearfix d-md-flex">
              <ul class="horizontalMenu-list">
                <!-- <li aria-haspopup="true"><a href="#"><i class="fa fa-building-o"></i>Escuela<span class="wsarrow"></span></a></li> -->
                <li aria-haspopup="true"><a routerLink="/period"><i class="fa fa-clock-o"></i>Periodos<span class="wsarrow"></span></a></li>
                <!-- <li aria-haspopup="true"><a><i class="fa fa-clock-o"></i>Ciclos <span class="fa fa-caret-down m-0"></span></a>
                  <ul class="sub-menu">
                      <li aria-haspopup="true"><a routerLink="/period">Escolares</a>
                      </li>
                      <li aria-haspopup="true"><a href="">Calificaciones</a>
                      </li>
                  </ul>
                </li> -->
                <li aria-haspopup="true"><a routerLink="/employee"><i class="fa fa-vcard-o "></i>Recursos Humanos</a></li>
                <li aria-haspopup="true"><a routerLink="/school-control"><i class="fa fa-graduation-cap"></i>Control Escolar<span class="wsarrow"></span></a></li>
                <li aria-haspopup="true"><a routerLink="/report" ><i class="fa fa-print"></i>Reportes<span class="wsarrow"></span></a></li>
                <li aria-haspopup="true"><a routerLink="/school" *ngIf="isAdmin"><i class="fa fa-building"></i>Escuela<span class="wsarrow"></span></a></li>

                <!-- <li aria-haspopup="true"><a><i class="fa fa-th-large"></i>Catálogos <span class="fa fa-caret-down m-0"></span></a>
                  <ul class="sub-menu">
                      <li aria-haspopup="true">
                        <a routerLink="/school"> Escuela </a>
                      </li>
                      <li aria-haspopup="true"><a href="#">Niveles</a>
                      </li>
                    <li aria-haspopup="true"><a routerLink="/syllabus">Plan de estudios</a>
                    </li>
                    <li aria-haspopup="true"><a href="#">Turnos</a>
                    </li>
                    <li aria-haspopup="true"><a href="#">Grados</a>
                    </li>
                    <li aria-haspopup="true"><a href="#">Grupos</a>
                    </li>
                  </ul>
                </li> -->
              </ul>
              <ul class="mb-0">
                <li aria-haspopup="true" class="mt-5">
                  <span><a class="btn btn-pink" href="ad-posts.html">Cerrar sesión</a></span>
                </li>
              </ul>
            </nav>
            <!--Nav-->
          </div>
        </div>
      </div>
  