	<!--Featured Jobs-->
  <section class="sptb">
			<div class="container">
				<div class="section-title center-block text-center">
					<h1>Featured Jobs</h1>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div id="feature-carousel" class="owl-carousel owl-carousel-icons">

					<div class="item">
						<div class="card mb-0">
							<div class="arrow-ribbon bg-purple">Part time</div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j1.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs </a>
									<h4  class="font-weight-semibold mb-0">$389</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Hard ware Technician</h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i> Hardware Solutions</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0">
							<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">featured</span></div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j2.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs</a>
									<h4  class="font-weight-semibold mb-0">$854</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Hair dresser-Beauticia</h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i>Beauty Span</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0">
							<div class="arrow-ribbon bg-info">Full time</div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j3.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs</a>
									<h4  class="font-weight-semibold mb-0">$786</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">System Operator</h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i>Flowtech Solutions</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0">
							<div class="ribbon ribbon-top-left text-warning"><span class="bg-warning">Urgent</span></div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j2.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs</a>
									<h4  class="font-weight-semibold mb-0">$539</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">HR Executive</h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i>IT Solutions</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0">
							<div class="arrow-ribbon bg-purple">Part time</div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j1.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs</a>
									<h4  class="font-weight-semibold mb-0">$925</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Delivery Boys Jobs </h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i> Pinlist</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0">
							<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">featured</span></div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j2.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs</a>
									<h4  class="font-weight-semibold mb-0">$925</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Wanted Sales Girls</h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i> Infratech Pvt Ltd </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0">
							<div class="arrow-ribbon bg-info">Full time</div>
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j3.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs</a>
									<h4  class="font-weight-semibold mb-0">$378</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Female Receptionist</h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i>Genius Technicals</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card mb-0">
							<div class="item-card7-img">
								<div class="item-card7-imgs">
									<a href="jobs.html"></a>
									<img src="../assets/images/products/products/j1.jpg" alt="img" class="cover-image">
								</div>
								<div class="item-card7-overlaytext">
									<a href="jobs.html" class="text-white"> Jobs</a>
									<h4  class="font-weight-semibold mb-0">$836</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="item-card7-desc">
									<a href="jobs.html" class="text-dark"><h4 class="font-weight-semibold">Play school teacher</h4></a>
								</div>
								<div class="item-card7-text">
									<ul class="icon-card mb-0">
										<li class=""><a href="#" class="icons"><i class="si si-location-pin text-muted mr-1"></i>  Los Angles</a></li>
										<li><a href="#" class="icons"><i class="si si-event text-muted mr-1"></i> 5 hours ago</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-user text-muted mr-1"></i> Sally Peake</a></li>
										<li class="mb-0"><a href="#" class="icons"><i class="si si-briefcase text-muted mr-1"></i> Kids Play School</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Featured Jobs-->