		<!--Topbar-->
		<div class="header-main">  
        <!-- Mobile Header -->
        <div class="horizontal-header top-bar ">
          <div class="container">
            <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            <span class="smllogo"><img src="../assets/images/brand/logo1.png" width="120" alt=""/></span>
            <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
          </div>
        </div>
        <!-- Mobile Header -->
  
        <div class="horizontal-main clearfix border-bottom top-bar">
          <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo">
              <a href="index.html"><img src="../assets/images/brand/logo1.png" alt=""></a>
            </div>
            <!--Nav-->
            <nav class="horizontalMenu clearfix d-md-flex">
              <ul class="horizontalMenu-list">
                <li aria-haspopup="true"><a routerLink="/workspace-student/schedule"><i class="fa fa-clock-o "></i>Mi Horario</a></li>
                <li aria-haspopup="true"><a routerLink="/school-control"><i class="fa fa-check-square-o"></i>Mis Calificaciones<span class="wsarrow"></span></a></li>
              </ul>
              <ul class="mb-0">
                <li aria-haspopup="true" class="mt-5">
                  <span><a class="btn btn-pink" href="ad-posts.html">Logout</a></span>
                </li>
              </ul>
            </nav>
            <!--Nav-->
          </div>
        </div>
      </div>
  