<app-header></app-header>
<section class="sptb">
  <div class="container">
    <div class="card mb-0">
      <!-- title -->
      <div class="card-header"> 
        <h3 class="card-title">Nuevo empleado</h3>
        <div class="card-options">
          <a routerLink="/employee"><i class="fe fe-x btn btn-sm btn-danger"></i></a>
        </div>
      </div>
      <!-- end title -->
      <!-- from -->
      <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="border-0">
            <div class="tab-content">
              <div class="tab-pane active show userprof-tab" id="tab-10">
                <div class="row">
                  
                  <div class="col-sm-4 col-md-2">
                    <div class="form-group">
                      <label class="form-label">RFC</label>
                      <input type="text" formControlName="rfc" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{'is-invalid': submitted && f.rfc.errors }"
                        placeholder="RFC">
                        <div *ngIf="submitted && f.rfc.errors" class="invalid-feedback">
                          <div *ngIf="f.rfc.errors.required">Este campo es obligatorio.</div>
                          <div *ngIf="f.rfc.errors.minlength">Se requiere como mínimo 12 caracteres.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-3">
                    <div class="form-group">
                      <label class="form-label">CURP</label>
                      <input type="text" formControlName="curp" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{'is-invalid': submitted && f.curp.errors }"
                        placeholder="CURP">
                        <div *ngIf="submitted && f.curp.errors" class="invalid-feedback">
                          <div *ngIf="f.curp.errors.required">Este campo es obligatorio.</div>
                          <div *ngIf="f.curp.errors.minlength">Se requiere como mínimo 18 caracteres.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2">
                    <div class="form-group">
                      <label class="form-label">NSS</label>
                      <input type="text" formControlName="nss" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{'is-invalid': submitted && f.nss.errors }"
                        placeholder="NSS">
                        <div *ngIf="submitted && f.nss.errors" class="invalid-feedback">
                          <div *ngIf="f.nss.errors.required">Este campo es obligatorio.</div>
                          <div *ngIf="f.nss.errors.minlength">Se requiere como mínimo 11 caracteres.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                      <label class="form-label">Tipo de empleado</label>
                      <select formControlName="type_id" [ngClass]="{ 'is-invalid': submitted && f.type_id.errors }" class="form-control input-sm">
                        <option *ngFor="let e of EmployeeTypes" value="{{e.uuid}}">{{e.description}}</option>
                      </select>
                      <div *ngIf="submitted && f.type_id.errors" class="invalid-feedback">
                        <div *ngIf="f.type_id.errors.required">Este campo es obligatorio.</div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-4 col-md-3">
                    <div class="form-group">
                      <label class="form-label">Nombre(s)</label>
                      <input type="text" formControlName="name" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{'is-invalid': submitted && f.name.errors }"
                        placeholder="Nombre(s)">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Este campo es obligatorio.</div>
                          <div *ngIf="f.name.errors.minlength">Se requiere como mínimo 3 caracteres.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-3">
                    <div class="form-group">
                      <label class="form-label">A. Paterno</label>
                      <input type="text" formControlName="lastname" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{'is-invalid': submitted && f.lastname.errors }"
                        placeholder="A. Paterno">
                        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                          <div *ngIf="f.lastname.errors.required">Este campo es obligatorio.</div>
                          <div *ngIf="f.lastname.errors.minlength">Se requiere como mínimo 3 caracteres.</div>
                        </div>
                    </div>
                  </div>
                    
                    <div class="col-sm-4 col-md-3">
                      <div class="form-group">
                        <label class="form-label">A. Materno</label>
                        <input type="text" formControlName="mlastname" 
                          oninput="this.value = this.value.toUpperCase()" 
                          class="form-control input-sm capitalize" 
                          [ngClass]="{'is-invalid': submitted && f.mlastname.errors }"
                          placeholder="A. Materno">
                          <div *ngIf="submitted && f.mlastname.errors" class="invalid-feedback">
                            <div *ngIf="f.mlastname.errors.required">Este campo es obligatorio.</div>
                            <div *ngIf="f.mlastname.errors.minlength">Se requiere como mínimo 3 caracteres.</div>
                          </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-3 col-md-2">
                      <div class="form-group">
                        <label class="form-label">Fecha de nacimiento</label>
                        <input type="date" formControlName="birthday" 
                          oninput="this.value = this.value.toUpperCase()" 
                          class="form-control input-sm capitalize" 
                        >
                          <!-- <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                            <div *ngIf="f.birthday.errors.required">Este campo es obligatorio.</div>
                          </div> -->
                      </div>
                    </div>

                    <div class="col-sm-3 col-md-2">
                        <div class="form-group">
                          <label class="form-label">Genero</label>
                          <select formControlName="gender" class="form-control input-sm">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                          </select>
                          <!-- <div *ngIf="submitted && f.school_id.errors" class="invalid-feedback">
                            <div *ngIf="f.school_id.errors.required">Este campo es obligatorio.</div>
                          </div> -->
                        </div>
                      </div>
                    
                      <div class="col-sm-3 col-md-2">
                        <div class="form-group">
                          <label class="form-label">No. Celular</label>
                          <input type="text" formControlName="cellphone" 
                            oninput="this.value = this.value.toUpperCase()" 
                            class="form-control input-sm capitalize" 
                            placeholder="000-000-0000">
                            <!-- <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                              <div *ngIf="f.description.errors.required">Este campo es obligatorio.</div>
                              <div *ngIf="f.description.errors.minlength">Se requiere como mínimo 10 caracteres.</div>
                            </div> -->
                        </div>
                      </div>

                      <div class="col-sm-3 col-md-4">
                          <div class="form-group">
                            <label class="form-label">Correo electrónico</label>
                            <input type="text" formControlName="email"  
                              class="form-control input-sm capitalize" 
                              placeholder="Correo electrónico">
                              <!-- <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Este campo es obligatorio.</div>
                                <div *ngIf="f.description.errors.minlength">Se requiere como mínimo 10 caracteres.</div>
                              </div> -->
                          </div>
                        </div>

                    <div class="col-md-12 text-right">
                      <button type="submit" class="btn btn-primary"> Guardar registro </button>
                    </div>

                  </div>
              </div>
            </div>
          </div>
        </div>
      </form>
        <!-- end form -->
    </div>
  </div>
</section>
