<app-header></app-header>
<section class="sptb">
  <div class="container">
    <div class="card mb-0">
      <!-- title -->
      <div class="card-header"> 
        <h3 class="card-title">Nueva materia</h3>
        <div class="card-options">
          <a [routerLink]="['/detail-school-syllabus', Syllabus.uuid]"><i class="fe fe-x btn btn-sm btn-danger"></i></a>
        </div>
      </div>
      <!-- end title -->
      <!-- from -->
      <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="border-0">
            <div class="tab-content">
              <div class="tab-pane active show userprof-tab" id="tab-10">
                <div class="row">
                  <input type="hidden" formControlName="syllabus_id">
                  <!-- <div class="col-sm-6 col-md-3">
                    <div class="form-group">
                      <label class="form-label">Nivel académico</label>
                      <select formControlName="entity_id" [ngClass]="{ 'is-invalid': submitted && f.entity_id.errors }" class="form-control input-sm" (change)="changeEntity($event)">
                        <option *ngFor="let e of Entities" value="{{e.id}}">{{e.name}}</option>
                      </select>
                      <div *ngIf="submitted && f.entity_id.errors" class="invalid-feedback">
                        <div *ngIf="f.entity_id.errors.required">Este campo es obligatorio.</div>
                      </div>
                    </div>
                  </div> -->

                  <div class="col-sm-4 col-md-2">
                    <div class="form-group">
                      <label class="form-label">Clave</label>
                      <input type="text" formControlName="code" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{ 'is-invalid': submitted && f.code.errors}"
                        placeholder="Clave">
                        <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                          <div *ngIf="f.code.errors.required">Este campo es obligatorio.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-8 col-md-6">
                    <div class="form-group">
                      <label class="form-label">Nombre</label>
                      <input type="text" formControlName="name" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors}"
                        placeholder="Nombre">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Este campo es obligatorio.</div>
                          <div *ngIf="f.name.errors.minlength">Se requiere como mínimo 5 caracteres.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                      <label class="form-label">Grado/Semenestre</label>
                      <input type="number" min="1" formControlName="grade" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{ 'is-invalid': submitted && f.grade.errors}"
                        placeholder="Grado/Semestre">
                      <div *ngIf="submitted && f.grade.errors" class="invalid-feedback">
                        <div *ngIf="f.grade.errors.required">Este campo es obligatorio.</div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-sm-3 col-md-2">
                    <div class="form-group">
                      <label class="form-label">Seriación</label>
                      <select formControlName="seriation" [ngClass]="{ 'is-invalid': submitted && f.seriation.errors }" class="form-control input-sm">
                        <option *ngFor="let o of Syllabus.subjects" value="{{o.code}}">{{o.code}}</option>
                      </select>
                      <!-- <div *ngIf="submitted && f.seriation.errors" class="invalid-feedback">
                        <div *ngIf="f.seriation.errors.required">Este campo es obligatorio.</div>
                      </div> -->
                    </div>
                  </div>
                  
                  <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                      <label class="form-label">Hrs. docente</label>
                      <input type="number" min="0" formControlName="hour_teacher" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{ 'is-invalid': submitted && f.hour_teacher.errors}"
                        placeholder="Horas docente">
                        <div *ngIf="submitted && f.hour_teacher.errors" class="invalid-feedback">
                          <div *ngIf="f.hour_teacher.errors.required">Este campo es obligatorio.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                      <label class="form-label">Hrs. independiente</label>
                      <input type="number" min="0" formControlName="hour_independent" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{ 'is-invalid': submitted && f.hour_independent.errors}"
                        placeholder="Horas independiente">
                        <div *ngIf="submitted && f.hour_independent.errors" class="invalid-feedback">
                          <div *ngIf="f.hour_independent.errors.required">Este campo es obligatorio.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                      <label class="form-label">No. créditos</label>
                      <input type="number" min="0" formControlName="credit" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{ 'is-invalid': submitted && f.credit.errors}"
                        placeholder="No. créditos">
                        <div *ngIf="submitted && f.credit.errors" class="invalid-feedback">
                          <div *ngIf="f.credit.errors.required">Este campo es obligatorio.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                      <label class="form-label">Instalaciones</label>
                      <input type="text" formControlName="instalation" 
                        oninput="this.value = this.value.toUpperCase()" 
                        class="form-control input-sm capitalize" 
                        [ngClass]="{ 'is-invalid': submitted && f.instalation.errors}"
                        placeholder="Instalaciones">
                        <div *ngIf="submitted && f.instalation.errors" class="invalid-feedback">
                          <div *ngIf="f.instalation.errors.required">Este campo es obligatorio.</div>
                        </div>
                    </div>
                  </div>
                  <!-- <div class="col-sm-6 col-md-4">
                      <div class="form-group">
                        <label class="form-label">Plan de estudios</label>
                        <select formControlName="municipal_id" [ngClass]="{ 'is-invalid': submitted && f.municipal_id.errors }" class="form-control input-sm">
                          <option *ngFor="let m of Municipal" value="{{m.id}}">{{m.name}}</option>
                        </select>
                        <div *ngIf="submitted && f.municipal_id.errors" class="invalid-feedback">
                          <div *ngIf="f.municipal_id.errors.required">Este campo es obligatorio.</div>
                        </div>
                      </div>
                    </div> -->
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary"> Guardar registro </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
        <!-- end form -->
    </div>
  </div>
</section>
