<app-header></app-header>
<section class="sptb">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12">
        <div class="card mb-0">
          <div class="card-header"> 
            <h3 class="card-title">Nueva materia</h3>
            <div class="card-options">
              <a routerLink="/schedule/{{Group.uuid}}"><i class="fe fe-x btn btn-sm btn-danger"></i></a>
            </div>
          </div>
          <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="border-0">
                <div class="tab-content">
                  <div class="tab-pane active show userprof-tab" id="tab-10">
                    
                    <div class="row">
                      <input type="hidden" formControlName="group_id">
                      <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                          <label class="form-label">Materia</label>
                          <select formControlName="subject_id" [ngClass]="{ 'is-invalid': submitted && f.subject_id.errors }" class="form-control input-sm">
                              <option *ngFor="let s of Subjects" value="{{s.uuid}}">{{s.name}}</option>
                            </select>
                          <div *ngIf="submitted && f.subject_id.errors" class="invalid-feedback">
                            <div *ngIf="f.subject_id.errors.required">Este campo es obligatorio.</div>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                          <label class="form-label">Docente</label>
                          <select formControlName="teacher_id" [ngClass]="{ 'is-invalid': submitted && f.teacher_id.errors }" class="form-control input-sm">
                            <option *ngFor="let l of Teachers" value="{{l.uuid}}">{{l.name}} {{l.lastname}} {{l.mlastname}}</option>
                          </select>
                          <div *ngIf="submitted && f.teacher_id.errors" class="invalid-feedback">
                            <div *ngIf="f.teacher_id.errors.required">Este campo es obligatorio.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ">
                      <div class="row">
                        <div class="col-md-1">
                          <label class="form-label" id="examplenameInputname2">Lunes</label>
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="lunStart"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="lunEnd"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                      </div>                        
                    </div>

                    <div class="form-group ">
                      <div class="row">
                        <div class="col-md-1">
                          <label class="form-label">Martes</label>
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="marStart"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="marEnd"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                      </div>                        
                    </div>

                    <div class="form-group ">
                      <div class="row">
                        <div class="col-md-1">
                          <label class="form-label">Miércoles</label>
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="mieStart"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="mieEnd"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                      </div>                        
                    </div>

                    <div class="form-group ">
                      <div class="row">
                        <div class="col-md-1">
                          <label class="form-label" >Jueves</label>
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="jueStart"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="jueEnd"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                      </div>                        
                    </div>

                    <div class="form-group ">
                      <div class="row">
                        <div class="col-md-1">
                          <label class="form-label">Viernes</label>
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="vieStart"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="vieEnd"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                      </div>                        
                    </div>


                    <div class="form-group ">
                      <div class="row">
                        <div class="col-md-1">
                          <label class="form-label">Sábado</label>
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="sabStart" 
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="sabEnd"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                      </div>                        
                    </div>

                    <div class="form-group ">
                      <div class="row">
                        <div class="col-md-1">
                          <label class="form-label">Domingo</label>
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="domStart"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                        <div class="col-md-2">
                          <input type="time" formControlName="domEnd"
                            min="00:00" max="24:00"  class="form-control input-sm">
                        </div>
                      </div>                        
                    </div>

                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary"> Guardar registro </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
