<app-header></app-header>
<section class="sptb">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12">
        <div class="card mb-0">
          <div class="card-header"> 
            <h3 class="card-title">Nuevo turno</h3>
            <div class="card-options">
              <a routerLink="/school-shift"><i class="fe fe-x btn btn-sm btn-danger"></i></a>
            </div>
          </div>
          
            <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="border-0">
                  <div class="tab-content">
                    <div class="tab-pane active show userprof-tab" id="tab-10">
                      <div class="row">
                        <!-- <div class="col-sm-6 col-md-3">
                          <div class="form-group">
                            <label class="form-label">Nivel académico</label>
                            <select formControlName="entity_id" [ngClass]="{ 'is-invalid': submitted && f.entity_id.errors }" class="form-control input-sm" (change)="changeEntity($event)">
                              <option *ngFor="let e of Entities" value="{{e.id}}">{{e.name}}</option>
                            </select>
                            <div *ngIf="submitted && f.entity_id.errors" class="invalid-feedback">
                              <div *ngIf="f.entity_id.errors.required">Este campo es obligatorio.</div>
                            </div>
                          </div>
                        </div> -->
                        <div class="col-sm-6 col-md-4">
                          <div class="form-group">
                            <label class="form-label">Descripción</label>
                            <input type="text" formControlName="description" 
                              oninput="this.value = this.value.toUpperCase()" 
                              class="form-control input-sm capitalize" 
                              [ngClass]="{ 'is-invalid': submitted && f.description.errors}"
                              placeholder="Descripción">
                              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Este campo es obligatorio.</div>
                                <div *ngIf="f.description.errors.minlength">Se requiere como mínimo 5 caracteres.</div>
                              </div>
                          </div>
                        </div>
                        
                        <!-- <div class="col-sm-6 col-md-2">
                          <div class="form-group">
                            <label class="form-label">Turno</label>
                            <select formControlName="municipal_id" [ngClass]="{ 'is-invalid': submitted && f.municipal_id.errors }" class="form-control input-sm">
                              <option *ngFor="let m of Municipal" value="{{m.id}}">{{m.name}}</option>
                            </select>
                            <div *ngIf="submitted && f.municipal_id.errors" class="invalid-feedback">
                              <div *ngIf="f.municipal_id.errors.required">Este campo es obligatorio.</div>
                            </div>
                          </div>
                        </div> -->
                        
                        <!-- <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                              <label class="form-label">Plan de estudios</label>
                              <select formControlName="municipal_id" [ngClass]="{ 'is-invalid': submitted && f.municipal_id.errors }" class="form-control input-sm">
                                <option *ngFor="let m of Municipal" value="{{m.id}}">{{m.name}}</option>
                              </select>
                              <div *ngIf="submitted && f.municipal_id.errors" class="invalid-feedback">
                                <div *ngIf="f.municipal_id.errors.required">Este campo es obligatorio.</div>
                              </div>
                            </div>
                          </div> -->
                              <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary"> Guardar registro </button>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

      </div>
    </div>
  </div>
</section>
